video {
	display: block;
	max-width: 100%;
	height: auto;
}
html, body {
	height: 100%;
}
.login-body > div {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	position: absolute;
}
.login-wrapper {
	width: 100%;
}
.login-submit {
	width: 30%;
}

.room-name {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
}
.header-buttons {
	margin-top: -5px;
  margin-bottom: -5px;
}
.status-panel h2 {
	margin-top: 10px;
	margin-bottom: 15px;
}
.form-inline .form-group > * {
  margin:5px 3px;
}
.user-list {
	margin-top: 5px;
}
.user-list li {
	padding-top: 2px;
	padding-bottom: 2px;
}
:not(.btn) > .fa {
  margin-right: 0.5em;
}
.chat-view-container {
	position: fixed;
	bottom: 0;
  right: 0;
  left: 0;
	/*height: 50%;*/
}
.chat-view {
	/*position: absolute;
	bottom: 0;
  right: 0;*/
	float: right;
	margin-bottom: 0;
}
.chat-view.opened {
	top: 0;
}
.chat-view .panel-heading {
	cursor: pointer;
}
@keyframes blink {
	0% { background-color: #eb4; }
  50% { background-color: #eb4; }
	51% { background-color: inherit; }
	100% { background-color: inherit; }
}
.chat-view .panel-heading.noread {
	animation: blink 0.4s 2;
	background-color: #eb4;
}
.chat-view .panel-body {
	overflow-y: scroll;
	height: 300px;
}
.chat {
	position: relative;
}
.chat.chat-self {
	text-align: right;
}
.chat .chat-name {
  position: relative;
  left: 0;
}
.chat .chat-message {
	width: 75%;
  border: solid 1px #aaa;
  border-radius: 4px;
  padding: 2px;
  position: relative;
	top: 0;
  left: 0;
	display: inline-block;
	text-align: left;
}
.chat.chat-self .chat-message {
	background-color: #ae9;
  left: inherit;
	right: 0;
}
.chat .chat-time {
	position: absolute;
  bottom: 0;
  right: -40px;
}
.chat.chat-self .chat-time {
	position: absolute;
  bottom: 0;
  left: -40px;
	right: inherit;
}
